variable is a name (box,container) that store value in programing 
name=ibrar
age =34
VARIABLE NAMING RULES
#Start whith a letter or underscore _ e.g name,_score.
#can contain letters,number,&UNDERSCORE_ e.g user_name,age2,total_amount
#Case sensitive Name&name are different variable
#choose meaningfulname,price,student_name 
#NOT ALLOWED 
CAN NOT START WITH NUMBER 2NAME
CAN NOT USE SPACE ,MY-NAME
CAN NOT USE SPECIAL CHARACTERS @,$,!

In [7]:
name = "ibrar awan"
age = 35
student_marks = 85
print(name)
print(age)
print(student_marks)

ibrar awan
35
85

invalid variable 
2name=ali# cannot start with number 
my-name=ali#dashes not allowed
user namer =ali# spaces not allowed

In [ ]:
2name = "ali"
my-name = "ali"
uuser namer = "ali"#all types are invalid

descriptive names
snake_case

In [8]:
student_name = "musa ibrar"
student_age = 10
total_marks = 92
print(student_name)
print(student_age)
print(total_marks)

musa ibrar
10
92